body{
    background-image: url(Images/fond.jpg);
    margin:0;
   
}

header{
    background-color:white;
    border-radius:40px;
    margin-left: 40px;
    margin-right:40px;
    text-align: center;  
}

header ul {
    padding:0;
}

header a{
    color:black;
    transition: all .5s ease-in-out;
    text-decoration: none;
}

header a:hover{
    color:blue;
    transform: scale(1.5);
}

header li{
    display:inline-block;
    width:32%;
    margin:auto;
    text-align: center;
}

li{
    list-style: none;
}

footer li{
    display:inline-flex;
    border-radius:50px;
    
}

img{
    border-radius:40px;
}